html {
  background: #fff;
}

.backfaceVisibility {
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}

.btn-slideshow {
	cursor: pointer;
	background-color: white;
}

.btn-slideshow:hover {
	background-color: #F2F2F2;
	color: red;
}